@import "tailwindcss";

@theme {
  --font-display: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
  --font-mono: 'Courier New', 'Courier', 'monospace';
}

@layer utilities {
  .hard-shadow {
    box-shadow: 4px 4px 0px 0px #000000;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


html {
  scrollbar-gutter: stable;
}

body {
  background-color: #f8f8f8;
  color: #000000;
}