@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Rubik', sans-serif;
  --font-mono: 'Space Mono', monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-left: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #f8f8f8;
  /* Off-white concrete */
  color: #0c0c0c;
}

@layer utilities {
  .font-display {
    font-family: 'Rubik', sans-serif;
  }

  .hard-shadow {
    box-shadow: 4px 4px 0px 0px #000;
  }

  .hard-shadow-hover:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px 0px #000;
  }

  .hard-shadow-active:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px #000;
  }

  .blue-glow {
    filter: drop-shadow(0 0 5px #007bff);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  scrollbar-gutter: stable;
}